/* @media only screen and (max-width: 1080px){
    .flex-dir-col{
        flex-direction: column;
    }
    .pos-abs{
        position: absolute;
        top: 0;
        left: 0;
    }
    .nav-height{
        height: 500px;
    }
    .vis-hidden{
        visibility: hidden;
    }
} */
